*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    width: 70%;
    margin: auto;
}

/* clearfix */
.row::after, .frame::after{
    content: "";
    clear: both;
    display: table;
}

.row :last-child{
    margin: 0;
}

html{
    font-size: 100%;
}

body{
    font-family: 'Fredoka', sans-serif;
}

img{
    height: 8em;
    vertical-align: middle;
    float: left;
    margin-right: 1em;
}
/* TITLE */

h1{
    text-align: center;
    margin: 1em 0 1.5em 0;
    color: #E53170;
    font-size: 2rem;
}

/* TEXT */

p{
    text-align: center;
    margin-bottom: 3em;
}

/* FRAMES */
.row{
    margin-bottom: 3em;
}

.frame{
    width: calc((100% / 3) - (4em / 3));
    float: left;
    margin-right: 2em;
    color: white;
    background-color: #0F0E17;
    box-shadow: 5px 5px 12px 1px  #888888;
}

.name{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.7em 0;
}

.job{
    margin-bottom: 0.7em;
}

a{
    float: left;
    color: #17CCF2;
}